# 1.Import thư viện và đọc dữ liệu

In [4]:
import pandas as pd

# Đọc dữ liệu từ file CSV
file_path = "C:/Users/Admin/Documents/Downloads/dulieuxettuyendaihoc.csv"  # Cập nhật đường dẫn nếu cần
df = pd.read_csv(file_path)

# Hiển thị thông tin chung về dữ liệu
df.info()

# Hiển thị 10 dòng đầu và 10 dòng cuối
print(df.head(10))
print(df.tail(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 56 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   STT     100 non-null    int64
 1   T1      100 non-null    float64
 2   L1      100 non-null    float64
 3   H1      100 non-null    float64
 4   S1      100 non-null    float64
 5   V1      100 non-null    float64
 6   X1      100 non-null    float64
 7   D1      100 non-null    float64
 8   N1      100 non-null    float64
 9   T2      100 non-null    float64
 10  L2      100 non-null    float64
 11  H2      100 non-null    float64
 12  S2      100 non-null    float64
 13  V2      100 non-null    float64
 14  X2      100 non-null    float64
 15  D2      100 non-null    float64
 16  N2      100 non-null    float64
 17  T3      100 non-null    float64
 18  L3      100 non-null    float64
 19  H3      100 non-null    float64
 20  S3      100 non-null    float64
 21  V3      100 non-null    float64
 22  X3      100 non-null    float64
 23  D3      100 non-null    float64
 24  N3      100 non-null    float64
 25  T4      100 non-null    float64
 26  L4      100 non-null    float64
 27  H4      100 non-null    float64
 28  S4      100 non-null    float64
 29  V4      100 non-null    float64
 30  X4      100 non-null    float64
 31  D4      100 non-null    float64
 32  N4      100 non-null    float64
 33  T5      100 non-null    float64
 34  L5      100 non-null    float64
 35  H5      100 non-null    float64
 36  S5      100 non-null    float64
 37  V5      100 non-null    float64
 38  X5      100 non-null    float64
 39  D5      100 non-null    float64
 40  N5      100 non-null    float64
 41  T6      100 non-null    float64
 42  L6      100 non-null    float64
 43  H6      100 non-null    float64
 44  S6      100 non-null    float64
 45  V6      100 non-null    float64
 46  X6      100 non-null    float64
 47  D6      100 non-null    float64
 48  N6      100 non-null    float64
 49  GT      100 non-null    object
 50  DT      3 non-null      float64
 51  KV      100 non-null    object
 52  DH1     100 non-null    float64
 53  DH2     100 non-null    float64
 54  DH3     100 non-null    float64
 55  KT      100 non-null    object
dtypes: float64(52), int64(1), object(3)
memory usage: 43.9+ KB
   STT   T1   L1   H1   S1   V1   X1   D1   N1   T2  ...   X6   D6   N6  GT  \
0    1  7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  ...  6.6  7.6  5.9   F
1    2  5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  ...  6.6  6.1  4.4   M
2    3  5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  ...  7.9  8.1  4.6   M
3    4  6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  ...  7.1  7.3  7.4   M
4    5  6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  ...  6.1  7.5  7.2   M
5    6  9.3  7.6  7.9  8.6  7.0  7.3  7.7  7.9  9.6  ...  5.7  8.0  7.8   M
6    7  2.8  3.9  5.5  6.9  5.0  7.3  4.6  5.2  4.4  ...  6.6  6.0  6.0   F
7    8  8.3  6.0  7.6  5.1  7.5  4.7  5.8  7.2  6.7  ...  7.1  6.8  7.0   F
8    9  6.5  6.3  7.6  6.0  5.5  7.1  6.3  5.0  7.3  ...  9.1  7.9  6.1   F
9   10  7.3  5.9  4.7  7.1  6.7  7.9  6.7  7.7  8.0  ...  6.4  6.1  7.8   F

   DT   KV   DH1   DH2   DH3  KT
0 NaN  2NT  3.25  3.25  4.50  A1
1 NaN    1  6.00  4.00  3.50   C
2 NaN    1  5.00  6.75  4.00   C
3 NaN    1  4.25  4.25  5.25  D1
4 NaN  2NT  4.25  4.50  5.00   A
5 NaN    1  1.50  4.00  6.00  D1
6 NaN    2  6.50  6.75  5.25   C
7 NaN    2  3.75  4.50  4.25  D1
8 NaN    1  3.50  3.50  6.75  D1
9 NaN    1  4.00  4.75  5.50  D1

[10 rows x 56 columns]
    STT   T1   L1   H1   S1   V1   X1   D1   N1   T2  ...   X6   D6   N6  GT  \
90   91  8.1  7.7  9.1  8.5  6.1  8.6  8.8  7.3  8.8  ...  8.3  8.7  7.8   M
91   92  7.8  6.5  6.7  5.4  6.2  4.8  5.9  4.4  8.9  ...  7.2  7.4  7.0   M
92   93  5.0  6.6  6.5  7.2  5.8  6.7  6.4  6.0  6.8  ...  5.9  6.7  5.8   M
93   94  5.2  5.2  6.8  7.9  6.6  8.9  7.6  5.3  6.8  ...  8.7  7.8  5.0   M
94   95  5.8  5.9  7.6  6.1  5.3  8.1  6.1  5.0  6.4  ...  7.3  6.8  5.3   M
95   96  8.6  6.9  7.4  8.8  7.6  5.8  7.3  5.7  8.9  ...  6.3  6.1  6.2   F
96   97  3.7  5.4  6.0  5.1  5.5  3.9  6.1  4.4  4.1  ...  7.9  7.5  4.4   F
97   98  8.8  5.5  7.4  7.7  6.2  7.3  8.1  4.5  9.5  ...  9.6  8.4  5.8   M
98   99  2.7  1.8  3.4  5.3  4.5  7.9  4.9  3.8  2.8  ...  6.6  5.2  5.9   M
99  100  4.1  5.2  4.9  5.3  5.5  5.4  7.2  5.4  4.4  ...  5.6  6.6  5.8   M

    DT   KV   DH1   DH2   DH3  KT
90 NaN    2  6.25  4.00  6.50   A
91 NaN  2NT  4.75  4.75  4.50   A
92 NaN    1  3.25  5.25  4.25   A
93 NaN    1  3.50  4.25  5.00   A
94 NaN    1  4.25  2.50  4.75   A
95 NaN    1  5.25  1.50  6.25   C
96 NaN    1  5.25  3.75  4.75   C
97 NaN  2NT  7.00  8.00  4.00   C
98 NaN    1  5.00  3.50  5.50   C
99 NaN  2NT  5.25  2.50  4.25   C

[10 rows x 56 columns]

# 2. Xác định loại dữ liệu (định tính & định lượng)

In [5]:
# Phân loại biến định tính và định lượng
dinh_tinh = ["GT", "DT", "KV", "KT"]  # Giới tính, Dân tộc, Khu vực, Khối thi
dinh_luong = list(set(df.columns) - set(dinh_tinh))  # Các cột còn lại là định lượng

print("Biến định tính:", dinh_tinh)
print("Biến định lượng:", dinh_luong)

Biến định tính: ['GT', 'DT', 'KV', 'KT']
Biến định lượng: ['X5', 'D6', 'X4', 'N6', 'T5', 'L6', 'L2', 'T6', 'S2', 'T2', 'V6', 'T4', 'X6', 'DH2', 'V4', 'H5', 'S5', 'H1', 'X2', 'L4', 'STT', 'D4', 'H6', 'DH1', 'N1', 'S6', 'S1', 'X3', 'H2', 'D3', 'H3', 'S4', 'T3', 'D5', 'V1', 'X1', 'D2', 'N4', 'N3', 'DH3', 'V2', 'L5', 'D1', 'V5', 'H4', 'N5', 'T1', 'N2', 'S3', 'L1', 'L3', 'V3']

# 3.Khảo sát dữ liệu thiếu

In [6]:
# Kiểm tra số lượng dữ liệu thiếu
missing_values = df.isnull().sum()

# Hiển thị các cột có dữ liệu thiếu
print(missing_values[missing_values > 0])

DT    97
dtype: int64

# 4. Xử lý dữ liệu thiếu

In [7]:
df["DT"].fillna(0, inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_516\1765403246.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["DT"].fillna(0, inplace=True)

In [11]:
print(df.dtypes)
# Xác định các cột số
numeric_cols = df.select_dtypes(include=["number"]).columns

# Điền giá trị thiếu chỉ trong các cột số
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].mean())

print(df.isnull().sum())

STT       int64
T1      float64
L1      float64
H1      float64
S1      float64
V1      float64
X1      float64
D1      float64
N1      float64
T2      float64
L2      float64
H2      float64
S2      float64
V2      float64
X2      float64
D2      float64
N2      float64
T3      float64
L3      float64
H3      float64
S3      float64
V3      float64
X3      float64
D3      float64
N3      float64
T4      float64
L4      float64
H4      float64
S4      float64
V4      float64
X4      float64
D4      float64
N4      float64
T5      float64
L5      float64
H5      float64
S5      float64
V5      float64
X5      float64
D5      float64
N5      float64
T6      float64
L6      float64
H6      float64
S6      float64
V6      float64
X6      float64
D6      float64
N6      float64
GT       object
DT      float64
KV       object
DH1     float64
DH2     float64
DH3     float64
KT       object
TBM1    float64
TBM2    float64
TBM3    float64
dtype: object
STT     0
T1      0
L1      0
H1      0
S1      0
V1      0
X1      0
D1      0
N1      0
T2      0
L2      0
H2      0
S2      0
V2      0
X2      0
D2      0
N2      0
T3      0
L3      0
H3      0
S3      0
V3      0
X3      0
D3      0
N3      0
T4      0
L4      0
H4      0
S4      0
V4      0
X4      0
D4      0
N4      0
T5      0
L5      0
H5      0
S5      0
V5      0
X5      0
D5      0
N5      0
T6      0
L6      0
H6      0
S6      0
V6      0
X6      0
D6      0
N6      0
GT      0
DT      0
KV      0
DH1     0
DH2     0
DH3     0
KT      0
TBM1    0
TBM2    0
TBM3    0
dtype: int64

# 5.Tạo điểm trung bình các năm lớp 10, 11, 12

In [13]:
df["TBM1"] = (df["T1"]*2 + df["L1"] + df["H1"] + df["S1"] + df["V1"]*2 + df["X1"] + df["D1"] + df["N1"]) / 10
df["TBM2"] = (df["T2"]*2 + df["L2"] + df["H2"] + df["S2"] + df["V2"]*2 + df["X2"] + df["D2"] + df["N2"]) / 10
df["TBM3"] = (df["T6"]*2 + df["L6"] + df["H6"] + df["S6"] + df["V6"]*2 + df["X6"] + df["D6"] + df["N6"]) / 10

# 6. Phân loại học lực (XL1, XL2, XL3)

In [14]:
def classify_score(score):
    if score < 5.0:
        return "Y"
    elif 5.0 <= score < 6.5:
        return "TB"
    elif 6.5 <= score < 8.0:
        return "K"
    elif 8.0 <= score < 9.0:
        return "G"
    else:
        return "XS"

df["XL1"] = df["TBM1"].apply(classify_score)
df["XL2"] = df["TBM2"].apply(classify_score)
df["XL3"] = df["TBM3"].apply(classify_score)

# 7. Chuyển đổi điểm sang thang điểm 4

In [15]:
def min_max_scaling(series):
    return (series - series.min()) / (series.max() - series.min()) * 4

df["US_TBM1"] = min_max_scaling(df["TBM1"])
df["US_TBM2"] = min_max_scaling(df["TBM2"])
df["US_TBM3"] = min_max_scaling(df["TBM3"])

# 8. Xác định kết quả xét tuyển (KQXT)

In [16]:
def determine_admission(row):
    if row["KT"] == "A":
        return 1 if ((row["DH1"]*2 + row["DH2"] + row["DH3"]) / 4) >= 5.0 else 0
    elif row["KT"] == "B":
        return 1 if ((row["DH1"] + row["DH2"]*2 + row["DH3"]) / 4) >= 5.0 else 0
    else:
        return 1 if ((row["DH1"] + row["DH2"] + row["DH3"]) / 3) >= 5.0 else 0

df["KQXT"] = df.apply(determine_admission, axis=1)

# 9. Lưu dữ liệu đã xử lý vào file mới

In [17]:
output_file = "processed_dulieuxettuyendaihoc.csv"
df.to_csv(output_file, index=False)
print(f"Dữ liệu đã được lưu vào: {output_file}")

Dữ liệu đã được lưu vào: processed_dulieuxettuyendaihoc.csv